<section class="content-channel-settings">
<fieldset>
<legend>Stream</legend>
{{#settings-row
	"Quality"
	"Set a channel specific streaming quality."
	icon="fa-eye"
	toggle=true
	enabled=_streaming_quality
}}
	{{drop-down
		value=streaming_quality
		content=qualities
		disabled=(bool-not _streaming_quality)
	}}
{{/settings-row}}

{{#settings-row
	"Chat"
	"Automatically open chat."
	icon="fa-comments"
	toggle=true
	enabled=_streams_chat_open
}}
	{{check-box
		"Open chat when the stream starts"
		checked=streams_chat_open
		disabled=(bool-not _streams_chat_open)
	}}
{{/settings-row}}
</fieldset>

{{#if settings.notification.enabled}}
<fieldset>
<legend>Desktop notifications</legend>
{{#settings-row
	"Notifications"
	"When the channel starts streaming."
	icon="fa-bullhorn"
	notes="Channel needs to be followed."
	toggle=true
	enabled=_notification_enabled
}}
	{{check-box
		"Enable desktop notifications"
		checked=notification_enabled
		disabled=(bool-not _notification_enabled)
	}}
{{/settings-row}}
</fieldset>
{{/if}}

{{settings-submit
	apply=(action "apply")
	discard=(action "discard")
	isDirty=model.buffer.isDirty
}}
</section>