<section class="channel-teams">
{{#content-list model as |item isNewItem isDuplicateItem|}}
{{team-item content=item isNewItem=isNewItem isDuplicateItem=isDuplicateItem}}
{{else}}
<p>The returned list of teams is empty.</p>
{{/content-list}}
</section>