<section class="content-channel-settings">
<fieldset>
<legend>Stream</legend>
{{#settings-row
	"Quality"
	"Priorize this quality over the default one."
	icon="fa-eye"
	toggle=true
	enabled=_quality
}}
	{{drop-down value=quality content=qualities disabled=(bool-not _quality)}}
{{/settings-row}}

{{#settings-row
	"Chat"
	"Automatically open chat."
	icon="fa-comments"
	toggle=true
	enabled=_gui_openchat
}}
	{{check-box "Open chat when the stream starts" checked=gui_openchat disabled=(bool-not _gui_openchat)}}
{{/settings-row}}
</fieldset>
{{#if settings.notification.enabled}}
<fieldset>
<legend>Desktop notifications</legend>
{{#settings-row
	"Notifications"
	"When the channel starts streaming.<br>Channel needs to be followed."
	icon="fa-bullhorn"
	toggle=true
	enabled=_notify_enabled
}}
	{{check-box "Receive notifications for this channel" checked=notify_enabled disabled=(bool-not _notify_enabled)}}
{{/settings-row}}
</fieldset>
{{/if}}
{{settings-submit
	apply=(action "apply")
	discard=(action "discard")
	isDirty=model.buffer.isDirty
}}
</section>