<main class="content content-settings {{if isAnimated 'animated'}}">
<h2>Settings</h2>
<header>
{{sub-menu "settings" (hash
	main="Main"
	gui="GUI"
	streaming="Streaming"
	player="Player"
	streams="Streams"
	chat="Chat"
	lists="Lists"
	languages="Languages"
	notifications="Notifications"
	channels="Channels"
)}}
</header>
{{outlet}}
{{settings-submit
	apply=(action "apply")
	discard=(action "discard")
	isDirty=model.isDirty
	disabled=(is-equal currentSubmenu "settings.channels")
}}
</main>