<fieldset>
{{#settings-row
	"Preferred quality"
	"Choose the default stream quality."
	icon="fa-eye"
}}
	{{drop-down value=model.quality content=qualities}}
{{/settings-row}}

{{#if model.advanced}}
	{{#settings-row
		"Quality presets"
		"Customize livestreamer quality presets."
		icon="fa-list-ul"
	}}
		{{#each qualities as |quality|}}
			<div class="input-group quality-preset">
				{{input type="text" classNames="form-control" placeholder=quality.value value=(mut (get model.quality_presets quality.id))}}
				<span class="input-group-btn">
					<button type="button" tabindex="-1" class="btn">{{quality.label}}</button>
				</span>
			</div>
		{{/each}}
	{{/settings-row}}
{{/if}}

{{#settings-row
	"Stream popup"
	"When a stream has started."
	icon="fa-info-circle"
}}
	{{check-box "Hide the popup on success" checked=model.gui_hidestreampopup}}
{{/settings-row}}
</fieldset>