<header>
<h2>Top Channels</h2>
{{settings-bar targetObject=this btnHomepage=true}}
</header>
<ul class="content-list">
{{#each stream in model}}
{{stream-item stream=stream showGame=true}}
{{/each}}
</ul>
{{infinite-scroll}}