body {
	overflow-y: scroll;
}

/* fix line height in the test module dropdown */
#qunit-modulefilter-dropdown-list .clickable {
	display: inline-block;
	width: 100%;
}

/* use the same rules as #qunit-fixture */
#ember-testing {
	position: absolute;
	top: -10000px;
	left: -10000px;
	width: 1000px;
	height: 1000px;
}
