# OS and editors
.DS_Store
._*
Thumbs.db
Desktop.ini
*.bak
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea

# dependencies
/node_modules/
/src/vendor/

# builds
/build/*
!/build/tasks
!/build/resources
/dist/

# dev files
/src/metadata.json
