<main class="content content-user content-user-followed-games">
<header>
<h2>Followed games</h2>
{{settings-bar targetObject=this btnHomepage=true}}
</header>
{{#if content.length}}
<ul class="content-list">
{{#each model as |game index|}}
{{game-item content=game isNewItem=(is-gte index initialFetchSize)}}
{{/each}}
</ul>
{{infinite-scroll}}
{{else}}
<div class="content-empty">
<p>You're not following any games.</p>
<ul class="fa-ul list-empty">
<li>{{#link-to "games"}}<i class="fa fa-li fa-caret-right"></i>Watch top games{{/link-to}}</li>
</ul>
</div>
{{/if}}
</main>