<header>
<h2>Channels you follow</h2>
{{settings-bar targetObject=this btnHomepage=true}}
</header>
{{#if content.length}}
<ul class="content-list">
{{#each}}
{{stream-item stream=this}}
{{/each}}
</ul>
{{infinite-scroll}}
{{else}}
<div class="content-empty">
<p>None of your followed channels is online right now</p>
<ul class="fa-ul watching-empty">
<li>{{#link-to "featured"}}<i class="fa fa-li fa-caret-right"></i>Watch currently featured streams{{/link-to}}</li>
</ul>
</div>
{{/if}}