<header>
<h2>Followed games</h2>
{{settings-bar targetObject=this btnHomepage=true}}
</header>
{{#if content.length}}
<ul class="content-list">
{{#each model as |game|}}
{{game-item game=game}}
{{/each}}
</ul>
{{infinite-scroll}}
{{else}}
<div class="content-empty">
<p>There are no streams online playing your followed games</p>
<ul class="fa-ul list-empty">
<li>{{#link-to "featured"}}<i class="fa fa-li fa-caret-right"></i>Watch currently featured streams{{/link-to}}</li>
</ul>
</div>
{{/if}}