<div class="bigicon"><i class="fa fa-user"></i></div>
<p>{{auth.user_name}}</p>
<button type="button" class="btn btn-with-icon btn-signout" {{action "signout"}}><i class="fa fa-sign-out"></i>Sign out</button>