<header>
<h2>Subscriptions</h2>
{{settings-bar targetObject=this btnHomepage=true}}
</header>
{{#if model.length}}
<ul class="content-list">
{{#each model as |subscription index|}}
{{subscription-item targetObject=this content=subscription isNewItem=(is-gte index initialFetchSize)}}
{{/each}}
</ul>
{{infinite-scroll}}
{{else}}
<div class="content-empty">
<p>You don't have any channel subscriptions.</p>
<p>Directly support broadcasters by subscribing to their channel.</p>
</div>
{{/if}}