{{#content-list model as |item isNewItem isDuplicateItem|}}
{{game-item content=item gamePath="game" isNewItem=isNewItem isDuplicateItem=isDuplicateItem}}
{{else}}
<p>The returned list of followed games is empty.</p>
<ul class="fa-ul list-empty">
<li>{{#link-to "games"}}<i class="fa fa-li fa-caret-right"></i>Watch top games{{/link-to}}</li>
</ul>
{{/content-list}}