<main class="content content-user content-user-followed-games">
<header>
<h2>Followed Games</h2>
{{#quick-bar}}
{{quick-bar-homepage}}
{{/quick-bar}}
</header>
{{#sub-menu menus=(hash
	index="Live Games"
	all="All Games"
) as |subroute name|}}
	{{#link-to (concat "user.followedGames." subroute) tagName="li"}}{{name}}{{/link-to}}
{{/sub-menu}}
{{outlet}}
</main>