<main class="content content-user content-user-subscriptions">
<header>
<h2>Subscriptions</h2>
{{#quick-bar}}
{{quick-bar-homepage}}
{{/quick-bar}}
</header>
{{#content-list model as |item isNewItem isDuplicateItem|}}
{{subscription-item content=item isNewItem=isNewItem isDuplicateItem=isDuplicateItem}}
{{else}}
<p>You don't have any channel subscriptions.</p>
<p>Directly support broadcasters by subscribing to their channel.</p>
{{/content-list}}
</main>