<header>
<h2>Top Channels</h2>
{{settings-bar targetObject=this btnHomepage=true}}
</header>
<ul class="content-list">
{{#each model as |stream index|}}
{{stream-item content=stream isNewItem=(is-gte index initialFetchSize) showGame=true}}
{{/each}}
</ul>
{{infinite-scroll}}