{{#selectable-text tagName="main" class="content content-error"}}
<h2>Error</h2>
<h4>There was an error while trying to display this page.</h4>
<dl class="dl-horizontal">
{{#each model as |row|}}
<dt>{{row.key}}</dt>
<dd class="{{if row.isStack 'stack'}}">{{row.value}}</dd>
{{/each}}
</dl>
{{/selectable-text}}