{{input type="text" value=value class=inputClass placeholder=placeholder disabled=disabled}}
<span class="input-group-btn">
<button type="button" tabindex="-1" class="btn fa fa-search" disabled={{disabled}} {{action "selectfile"}}></button>
</span>