<div>
	{{#modal-header}}
		{{t "modal.firstrun.header" name=name}}
	{{/modal-header}}
	{{#modal-body}}
		{{t "modal.firstrun.body"}}
	{{/modal-body}}
	{{#modal-footer classNames="button-list-horizontal"}}
		{{#form-button
			action=(action "close")
			classNames="btn-primary"
			icon="fa-arrow-left"
		}}
			{{t "modal.firstrun.action.start"}}
		{{/form-button}}
		{{#form-button
			action=(action "settings")
			classNames="btn-success"
			icon="fa-cog"
		}}
			{{t "modal.firstrun.action.settings"}}
		{{/form-button}}
	{{/modal-footer}}
</div>