section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	-webkit-align-items: center;
	justify-content: space-around;
	align-items: center;

	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;

	&,
	& a,
	& a:hover {
		color: white;
	}

	.preview-image > img {
		box-shadow: 0 1em 2em rgba(0, 0, 0, .25);
	}
}
