
@color-twitch-purple: rgb( 100, 65, 165 );
@color-twitch-purple-light: rgb( 185, 163, 227 );
@color-twitch-grey-dark: rgb( 38, 38, 38 );
@color-twitch-grey-light: rgb( 241, 241, 241 );

@color-success: mix( @color-twitch-purple, desaturate( lime, 10% ), 67% );
@color-danger: mix( @color-twitch-purple, desaturate( red, 10% ), 67% );
@color-neutral: mix( @color-twitch-purple, desaturate( blue, 10% ), 67% );

@color-text-default: #fff;
