
@font-face {
	font-family: "Roboto";
	src: url( "../../bower_components/roboto-fontface/fonts/Roboto-Light.woff2" ) format( "woff2" );
	font-style: normal;
	font-weight: 100;
}
@font-face {
	font-family: "Roboto";
	src: url( "../../bower_components/roboto-fontface/fonts/Roboto-Regular.woff2" ) format( "woff2" );
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "Roboto";
	src: url( "../../bower_components/roboto-fontface/fonts/Roboto-Medium.woff2" ) format( "woff2" );
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: "Roboto";
	src: url( "../../bower_components/roboto-fontface/fonts/Roboto-Bold.woff2" ) format( "woff2" );
	font-style: normal;
	font-weight: 900;
}
@font-face {
	font-family: "Roboto";
	src: url( "../../bower_components/roboto-fontface/fonts/Roboto-RegularItalic.woff2" ) format( "woff2" );
	font-style: italic;
	font-weight: 400;
}
