
main.content.content-loading {
	@width: .667rem;
	@height: 10rem;

	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	overflow: hidden;

	> div {
		width: @width;
		height: @height;
		margin: 0 ( @width / 4 );
		background-color: fade( @color-twitch-purple, 85% );
		-webkit-animation: loadinganim 1.2s infinite ease-in-out;
	}

	> .rect2 { -webkit-animation-delay: -1.1s; }
	> .rect3 { -webkit-animation-delay: -1.0s; }
	> .rect4 { -webkit-animation-delay: -0.9s; }
	> .rect5 { -webkit-animation-delay: -0.8s; }
}

@-webkit-keyframes loadinganim {
	0%, 40%, 100% { -webkit-transform: scaleY( 0.4 ); }
	20% { -webkit-transform: scaleY( 1.0 ); }
}
