
html, body {
	width: 100%;
	height: 100%;
	min-width: 800px;
	min-height: 450px;
	overflow: hidden;
}

html {
	background: @color-twitch-purple-light url("../img/GlitchIcon_purple.png") 80% 0 repeat-y;
	background-size: 60%;
}

body {
	position: relative;
	font-size: inherit;
	cursor: default;
	background: fade( @color-twitch-purple-light, 90% );
	font-family: "Open Sans", "Segoe UI", "Helvetica Neue", sans-serif;
	color: @color-text-default;
}

h1 { font-size: 2.5rem }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1rem; }
h5 { font-size: .8rem; }
h6 { font-size: .667rem; }

h1, h2, h3, h4, h5, h6 {
	margin-top: .75rem;
	margin-bottom: .75rem;
	font-family: "Open Sans", "Segoe UI", "Helvetica Neue", sans-serif;
}


a {
	color: @color-text-default;
	text-decoration: underline;

	&:hover {
		color: @color-twitch-purple;
		text-decoration: none;
	}

	&.external-link::after {
		content: @fa-var-external-link;
		display: inline-block;
		font-family: "FontAwesome";
		padding-left: .333em;
		text-decoration: none !important;
	}
}


ul.list {
	margin: 0;
	padding: 0;
	list-style: none;
	.clearfix();

	> li {
		float: left;

		&:not(:last-of-type)::after {
			content: ",";
			padding-right: .5em;
		}
	}
}
