
.mymodal {
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10000;
	background: fade( #000, 50% );
	opacity: 0;
	-webkit-animation: animFadeIn .333s ease-out 0s 1 normal forwards;

	> div {
		display: flex;
		flex-flow: column nowrap;
		width: 45rem;
		min-height: 16rem;
		padding: 2rem;
		background: @color-background;
		-webkit-animation: animFadeInTop .333s ease-out 0s 1 normal forwards;
	}

	&.fadeOut {
		&,
		> div {
			-webkit-animation-direction: reverse;
		}
	}

	.modal-body {
		flex: 1 0;
		position: static;
		padding: 0;
	}

	header {
		color: @color-text-dark;
		font-size: 2em;
		font-weight: lighter;
		margin-bottom: 1rem;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	footer {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: flex-end;
		margin-top: 2rem;

		button:not(:last-of-type) {
			margin-right: 1em;
		}
	}

	&.modal-livestreamer {
		@content-height: 3.1rem;

		> div {
			min-height: 18.5rem;
		}

		header,
		.modal-body.launching,
		.modal-body.error {
			margin-bottom: .5rem;
		}

		.game {
			margin-bottom: .5em;

			> i.fa {
				color: @color-text-darker;
			}
		}

		.stats-row {
			width: 50%;
			margin-bottom: .5em;
		}

		.content {
			min-height: @content-height;
			max-height: 6rem;
			overflow: auto;
		}

		.modal-log {
			height: @content-height;
			overflow: auto;
			font-size: .8em;

			&.launching,
			&.error {
				height: ( @content-height + 1rem );
			}

			> ul {
				margin: 0;

				> .error {
					color: @color-danger;
				}
			}
		}

		footer {
			justify-content: space-between;
		}

		.btn-log.btn-danger {
			@-webkit-keyframes errorLogButtonAnimation {
				from { background: lighten( @color-danger, 10% ); }
				to { background: darken( @color-danger, 10% ); }
			}

			-webkit-animation: errorLogButtonAnimation .333s ease-out infinite alternate;

			> i {
				color: @color-text-brightest;
			}
		}
	}
}


.selecter.custom.modalqualityselect {
	@color: @color-neutral;
	@color-hover: darken( @color, 10% );
	@color-border: darken( @color, 5% );
	@color-border-hover: darken( @color, 15% );
	@icon-width: ( @button-icon-size + 2 * @button-icon-spacing );
	@icon-height: ( 1 / unit( @button-icon-size ) );

	min-width: 9em;

	.icon() {
		&::before {
			content: @fa-var-eye;
			display: inline-block;
			width: @icon-width;
			height: 1em;
			font: normal normal normal @button-icon-size/@icon-height FontAwesome;
			color: fade( @button-color, ( 100 * @button-icon-opacity ) );
			text-align: center;
			vertical-align: middle;
			transition: color .2s ease-out;
		}

		&:hover::before {
			color: fade( @button-color, ( 100 * @button-icon-opacity-hover ) );
		}

		&:hover:active::before {
			color: fade( @button-color, ( 100 * @button-icon-opacity-active ) );
		}
	}

	> .selecter-selected,
	> .selecter-options {
		color: @button-color;
		background: @color;
		transition: background .2s ease-out;

		&:not(:disabled):hover {
			background: @color-hover;
			border-color: @color-border-hover !important;
		}
	}

	&.open > .selecter-options {
		border-color: @color-border-hover !important;
	}

	> .selecter-selected {
		padding: 0;
		font-size: 1rem;
		line-height: 2;

		.icon();

		&::after {
			line-height: 2;
		}
	}

	> .selecter-options {
		max-height: none;
		background: @color;
	}

	.selecter-item {
		padding: 0;
		line-height: 2;

		.icon();

		&::before {
			color: transparent;
		}

		&.selected {
			color: @button-color;
			font-weight: normal;

			&::before {
				color: fade( @button-color, ( 100 * @button-icon-opacity-active ) ) !important;
			}
		}

		&:not(:last-of-type) {
			border-color: @color-border !important;
		}
	}

	> .selecter-selected,
	.selecter-item {
		border-color: @color-border !important;
		color: @button-color;
		background: @color;
		transition: background .2s ease-out;

		&:hover {
			border-color: @color-border-hover;
			background: @color-hover;
		}
	}
}
