
.mymodal {
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10000;
	background: fade( #000, 50% );
	opacity: 0;
	-webkit-transition: opacity .333s ease-out;

	> div {
		display: flex;
		flex-flow: column nowrap;
		width: 45rem;
		min-height: 16rem;
		margin: 5rem 0;
		padding: 2rem;
		background: @color-background;
		-webkit-transform: translateY( -3rem );
		-webkit-transition: -webkit-transform .333s ease-out;
	}

	&.shown {
		opacity: 1;

		> div {
			-webkit-transform: translateY( 0 );
		}
	}

	.content {
		flex: 1;
		margin-bottom: 2rem;
	}

	header {
		color: @color-text-dark;
		font-size: 2em;
		font-weight: lighter;
		margin-bottom: .5em;
	}

	footer {
		> * {
			display: block;
			float: left;
			min-width: 9em;
			margin-right: 1em;
		}

		> .selecter.custom {
			line-height: 1.75;
		}
	}
}


.selecter.custom.modalqualityselect {
	@text: @color-text-brightest;
	@color: @color-neutral;
	@color-hover: darken( @color, 10% );
	@color-border: darken( @color, 5% );
	@color-border-hover: darken( @color, 15% );
	@icon-size: 1.25em;
	@icon-space: 1.75em;

	.icon() {
		padding-left: 0 !important;

		&::before {
			content: @fa-var-eye;
			.fa();
			width: ( @icon-space - .25em );
			margin: .1em 0 -.1em .25em;
			color: fade( @text, 50% ) !important;
			font-size: @icon-size;
			text-align: center;
		}
	}

	> .selecter-selected,
	> .selecter-options {
		color: @text;
		background: @color;
		transition: background .2s ease-out;

		&:not(:disabled):hover {
			background: @color-hover;
			border-color: @color-border-hover !important;
		}
	}

	> .selecter-selected {
		.icon();

		&::after {
			line-height: 2.25;
		}
	}

	> .selecter-options {
		max-height: none;
		background: @color;
	}

	&.open > .selecter-options {
		border-color: @color-border-hover !important;
	}

	.selecter-item {
		padding-left: ( @icon-space * unit( @icon-size ) );

		&.selected {
			color: @text;
			font-weight: normal;
			.icon();
		}

		&:not(:last-of-type) {
			border-color: @color-border !important;
		}
	}

	> .selecter-selected,
	.selecter-item {
		border-color: @color-border !important;
		color: @text;
		background: @color;
		transition: background .2s ease-out;

		&:hover {
			border-color: @color-border-hover;
			background: @color-hover;
		}
	}
}
