
::-webkit-scrollbar {
	width: @scrollbar-size;
	height: @scrollbar-size;
}

::-webkit-scrollbar-track {
	background: @scrollbar-background;
}

::-webkit-scrollbar-thumb {
	border: ( ( @scrollbar-size - @scrollbar-thumb-size ) / 2 ) solid transparent;
	background: @scrollbar-thumb-background;
	background-clip: content-box;

	&:hover,
	&:active {
		background: @scrollbar-thumb-hover-background;
		background-clip: content-box;
	}
}

main.content::-webkit-scrollbar-thumb:vertical {
	border-top-width: 0;
}
