{{#content-list model as |item isNewItem isDuplicateItem|}}
{{community-item content=item isNewItem=isNewItem isDuplicateItem=isDuplicateItem}}
{{else}}
<p>The returned list of all communities is empty.</p>
{{/content-list}}