{{#content-list model as |item isNewItem isDuplicateItem|}}
{{community-item content=item isNewItem=isNewItem isDuplicateItem=isDuplicateItem}}
{{else}}
<p>{{t "routes.communities.featured.empty"}}</p>
{{/content-list}}