<fieldset>
{{#settings-row
	(t "settings.languages.filter.title")
	(t "settings.languages.filter.description")
	icon="fa-filter"
}}
	{{#radio-buttons
		value=model.streams.filter_languages
		content=contentStreamsFilterLanguages
		as |item|
	}}
		<div>
			{{item.button
				label=(t (concat "settings.languages.filter.values." item.label ".text"))
				description=(t (concat "settings.languages.filter.values." item.label ".description"))
			}}
		</div>
	{{/radio-buttons}}
{{/settings-row}}

{{#settings-row
	(t "settings.languages.languages.title")
	(t "settings.languages.languages.description")
	icon="fa-language"
}}
	{{#radio-buttons
		value=model.streams.language
		content=languages
		classNames="filter-lang"
		as |item|
	}}
		{{#item.button
			disabled=(is-equal model.streams.filter_languages null)
		}}
			{{flag-icon lang=item.value withTitle=false withCursor=false}} {{t (concat "languages." item.value)}}<span class="lang-code">({{item.value}})</span>
		{{/item.button}}
	{{/radio-buttons}}
{{/settings-row}}
</fieldset>