<header>{{game.name}}</header>
<img class="previewImage" src="{{game.box.large}}">
{{#if hasStats}}
<footer>
<span><i class="fa fa-video-camera"></i> {{content.channels}}</span>
<span>{{format-viewers content.viewers}} <i class="fa fa-users"></i></span>
</footer>
{{/if}}