<header>{{unbound game.name}}</header>
<img src="{{unbound game.box.large}}">
{{#if hasStats}}
<footer>
<span><i class="fa fa-video-camera"></i> {{unbound channels}}</span>
<span>{{unbound format-viewers viewers}} <i class="fa fa-users"></i></span>
</footer>
{{/if}}