{{preview-image src=game.box.large}}
<header>{{game.name}}</header>
{{#if hasStats}}
<footer>
<span><i class="fa fa-video-camera"></i> {{content.channels}}</span>
<span>{{format-viewers content.viewers}} <i class="fa fa-users"></i></span>
</footer>
{{/if}}