<header>{{game.name}}</header>
<img class="previewImage" src="{{unbound game.box.large}}">
{{#if hasStats}}
<footer>
<span><i class="fa fa-video-camera"></i> {{channels}}</span>
<span>{{format-viewers viewers}} <i class="fa fa-users"></i></span>
</footer>
{{/if}}