{{#each _content as |button|}}
{{#wrap-content tag=(if wrap "div" "")}}
{{radio-button
  class=(if boxes "default")
  id=button._id
  name=buttonName
  value=button.value
  selection=value
  disabled=button.disabled}}
<label
  for="{{button._id}}"
  class="{{if icon 'btn-with-icon'}}"
>{{#if icon}}<i class="fa fa-check"></i>{{/if}}{{button.label}}</label>
{{/wrap-content}}
{{/each}}