{{#each button in content}}
{{radio-button id=button.id class=buttonClass name=buttonName value=button.value selection=value}}
<label {{bind-attr for=button.id}}>{{unbound button.label}}</label>
{{/each}}