<header>{{unbound stream.channel.display_name}}</header>
<img src="{{unbound stream.preview}}">
<footer>
<span><i class="fa fa-clock-o"></i> {{unbound hours-from-now stream.channel.updated_at}}</span>
<span>{{unbound format-viewers stream.viewers}} <i class="fa fa-users"></i></span>
</footer>