{{#selectable-text tagName="section" classNames="content-team-info"}}
<h3>{{t "routes.team.info.header"}}</h3>
{{#embedded-html-links classNames="user-content"}}{{{model.info}}}{{/embedded-html-links}}
{{/selectable-text}}