
.content-settings {
	@margin: 2rem;

	display: flex;
	flex-direction: column;
	overflow-x: hidden;

	> * {
		flex-shrink: 0;
	}

	> header > ul {
		display: flex;
		margin: 0 0 2rem;
		padding: 0;

		> li {
			margin-left: .5rem;
			font-size: .91em;
			opacity: .5;
			transition: opacity .25s ease-out;

			&:first-of-type {
				margin-left: 0;
			}
		}

		&:hover > li,
		> li.active {
			opacity: 1;
		}
	}

	> fieldset {
		margin-bottom: @margin;
	}

	> fieldset:nth-last-of-type(2) {
		flex-grow: 1;
	}

	&.animated > fieldset:not(:last-of-type) {
		-webkit-animation: animFadeInRight @anim-content-duration ease-out;
	}

	> fieldset:last-of-type {
		> div {
			display: flex;
			justify-content: center;
			width: auto;
			margin: 0;
			padding: 0;
			float: none;

			> .btn {
				margin: 0 .5em;
			}
		}
	}

	.channel-search {
		margin-bottom: 1.5rem;
	}
}
