{{#link-to "channel" content.id tagName="div" class="logo"}}
	{{preview-image src=content.profile_image_url title=content.display_name}}
{{/link-to}}
<div class="text">
	<header>
		{{#if content.channel.broadcaster_language}}{{flag-icon type="broadcaster" lang=content.channel.broadcaster_language}}{{/if}}
		<span>{{#link-to "channel" content.id}}{{content.detailedName}}{{/link-to}}</span>
	</header>
	{{embedded-links tagName="div" class="status" text=content.description}}
</div>