<h2 {{bind-attr title=game}}>{{#link-to "games.index" tagName="i" classNames="fa fa-arrow-circle-o-left"}}{{/link-to}} {{unbound game}}</h2>
<ul class="clearfix">
{{#each stream in streams}}
{{stream-item stream=stream action="open_livestreamer"}}
{{/each}}
</ul>