<header>
<h2>{{game}}</h2>
{{settings-bar targetObject=this btnHomepage=true}}
</header>
<ul class="content-list">
{{#each model as |stream|}}
{{stream-item stream=stream}}
{{/each}}
</ul>
{{infinite-scroll}}