<header>
<h2>Top Games</h2>
{{settings-bar targetObject=this btnHomepage=true}}
</header>
<ul class="content-list">
{{#each game in model}}
{{game-item game=game.game channels=game.channels viewers=game.viewers}}
{{/each}}
</ul>
{{infinite-scroll}}