<header>
<h2>Top Games</h2>
{{settings-bar targetObject=this btnHomepage=true}}
</header>
<ul class="content-list">
{{#each}}
{{game-item game=game channels=channels viewers=viewers}}
{{/each}}
</ul>
{{infinite-scroll}}