<h2>Top Games</h2>
<ul class="clearfix">
{{#each top}}
{{#linkTo "games.game" game.name tagName="li" classNames="list-item list-item-game"}}
<img src="{{unbound game.box.large}}">
<p class="text-inside title">{{unbound game.name}}</p>
<p class="text-inside info">
<span class="half"><i class="fa fa-video-camera"></i> {{unbound channels}}</span>
<span class="half text-right">{{unbound format-viewers viewers}} <i class="fa fa-users"></i></span>
</p>
{{/linkTo}}
{{/each}}
</ul>