<header>
<h2>Top Games</h2>
{{settings-bar targetObject=this btnHomepage=true}}
</header>
<ul class="content-list">
{{#each model as |game index|}}
{{game-item content=game isNewItem=(is-gte index initialFetchSize)}}
{{/each}}
</ul>
{{infinite-scroll}}