{{preview-image src=content.avatar_image_url}}
<header>{{content.name}}</header>
<footer>
<span><i class="fa fa-video-camera"></i> {{content.channels}}</span>
<span>{{format-viewers content.viewers}} <i class="fa fa-users"></i></span>
</footer>