{{#if content.length}}
<ul>
{{#each content as |item index|}}
{{yield item (is-gte index initial) (has-own-property duplicates index)}}
{{/each}}
</ul>
{{#if infiniteScroll}}{{infinite-scroll content=content targetObject=targetObject}}{{/if}}
{{else if (hasBlock "inverse")}}
<div>
{{yield to="inverse"}}
</div>
{{/if}}