
@content-width: ( @app-width - @menu-width - 2 * @scrollbar-size );
@additional-width: ( @app-width - @content-width );


.content-list {
	.clearfix();

	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	color: @color-text-default;

	i {
		color: @color-text-darker;
	}

	> li {
		float: left;

		&:not(.newItem) {
			@min: @anim-list-item-offset-min;
			@max: @anim-list-item-offset-max;
			@num: 24;
			@inc: ( ( @max - @min ) / @num );

			// let all list items be faded in and use an animation delay:
			// we need to wait for the container animation to finish
			-webkit-animation: animFadeInBottom @anim-list-item-duration @min ease-out both;

			// increase the animation delay for each element...
			.loop( @i ) when ( @i <= @num ) {
				@nth: ~"@{i}";
				&:nth-of-type( @{nth} ) {
					-webkit-animation-delay: ( @min + @i * @inc );
				}
				.loop( ( @i + 1 ) );
			}
			// ...until the max number of elements is reached
			// and use a static max delay time for all remaining elements
			.loop( @i ) when ( @i > @num ) {
				@nth: ~"n+@{i}";
				&:nth-of-type( @{nth} ) {
					-webkit-animation-delay: @max;
				}
			}
			.loop( 1 );
		}
	}
}


.game-component {
	@color: @color-text-dark;
	@background: @color-background;

	position: relative;
	min-height: 235px;
	margin-bottom: 20px;
	cursor: pointer;
	.dynamic-elems-per-row( 4, @content-width, 8%, @additional-width );
	.block-aspect-ratio( ( 272 / 380 ) );

	> header,
	> footer {
		position: absolute;
		width: 100%;
		padding: .33em;
		z-index: 2;

		&, i {
			color: fade( @color, 0% );
			background-color: fade( @color-background, 0% );
			-webkit-transition: color .2s ease-out, background-color .2s ease-out;
		}
	}

	&:hover {
		> header,
		> footer {
			color: fade( @color, 100% );
			background-color: fade( @background, 90% );
		}

		i {
			color: fade( @color-text-darker, 100% );
		}
	}

	> header {
		top: 0;
		text-align: center;
	}

	> footer {
		display: flex;
		justify-content: space-between;
		bottom: 0;
	}
}

.stream-component {
	min-height: 185px;
	margin-bottom: 20px;
	color: @color-text-dark;
	.dynamic-elems-per-row( 3, @content-width, 8%, @additional-width );
	.stream-hover();

	> header {
		display: flex;
		align-items: center;
		padding: .25em 0;

		> i {
			opacity: 0;
			transition: opacity .333s ease-out;
		}

		> span {
			flex: 1;
			margin: 0 .5em;
			overflow: hidden;
			text-align: center;
			white-space: nowrap;
			text-overflow: ellipsis;

			&.noL  { margin-left : ( .5em + @flag-icon-width ); }
			&.noBL { margin-right: ( .5em + @flag-icon-width ); }

			> a {
				text-decoration: none;
			}
		}
	}

	&:hover > header > i {
		opacity: 1;
	}

	> footer {
		display: flex;
		justify-content: space-between;
	}

	> .preview {
		> footer {
			display: flex;
			justify-content: center;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			padding: .25em;
			font-size: .85em;
			opacity: 0;
			background: fade( @color-background, 80% );
			transition: opacity .333s ease-out;

			// Set an icon width and move the icon to the left, so the text remains centered.
			// Let the text have a max-width, so the icon stays on the screen.
			@icon-width: 1.5em;
			@icon-offset: ( -1 * @icon-width );
			@text-max-width: ( -2 * @icon-offset );

			> i {
				width: @icon-width;
				margin-left: @icon-offset;
				line-height: initial;
				text-align: center;

				&.fa-gamepad {
					text-indent: -.05em;
				}
			}

			> a {
				max-width: calc( 100% - @text-max-width );
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				text-decoration: none;

				&:not(:hover) {
					color: @color-text-dark;
				}
			}
		}

		&:hover > footer {
			opacity: 1;
		}

		&:hover > .previewError::before {
			opacity: 0;
		}
	}
}

.channel-component {
	min-height: 91px;
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 1.5em;
	.dynamic-elems-per-row( 2, @content-width, 4%, @additional-width );

	> .logo {
		@size: 6.5em;

		display: block;
		position: relative;
		width: @size;
		height: @size;
		flex-shrink: 0;
		cursor: pointer;
	}

	> .text {
		margin: 0 .5em;

		> header {
			margin: 0 0 .5em;
		}

		> .game {
			margin: 0 0 .25em;

			> i {
				color: @color-text-darker;
			}
		}

		> .status {
			height: @line-height-base;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}

.subscription-component {
	@size: 6.5em;
	@padding: 1.5em;
	@color: @color-text-dark;
	@background: @color-background;

	position: relative;
	min-height: 264px;
	margin-bottom: 2em;
	padding-top: @padding;
	background-position: center center;
	background-size: cover;
	color: @color;

	// no dynamic columns for this component
	// this media query is required by InfiniteScrollRouteMixin, though
	@media (min-width: 1px) {
		width: 100%;
	}

	a {
		text-decoration: none;
	}

	> header {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		justify-content: space-between;

		> .logo {
			display: block;
			position: relative;
			width: @size;
			height: @size;
			margin: 0 0 @padding @padding;
			cursor: pointer;

			> .previewImage {
				border: .25em solid @background;
			}
		}

		> .buttons {
			display: flex;
			flex-flow: row-reverse nowrap;
			align-items: flex-start;
			margin-right: @padding;
			padding: .5em;
			background: fade( @color-background, 80% );
			opacity: 0;
			transition: opacity .333s ease-out;

			> button:not(:last-of-type) {
				margin-left: .5em;
			}
		}
	}

	&:hover > header > .buttons {
		opacity: 1;
	}

	> .info {
		padding: @padding;
		background: fade( @color-background, 80% );

		> h3 {
			margin: 0;
			font-size: 1.75em;

			> a:not(:hover) {
				color: @color-text-darker;
			}
		}

		> .subscription {
			margin: .5em 0;

			> span {
				display: inline-block;
				margin-right: 2em;
			}
		}

		> .emoticons {
			display: flex;
			justify-content: flex-start;

			> li {
				margin-right: .5em;
			}
		}
	}
}
