
.content-settings {

	// wtf... cannot use fieldset flexboxes in blink
	fieldset {
		margin-bottom: 2em;
		.clearfix();

		> legend {
			margin: 0 0 1em;
			padding: 0 0 .25em;
			border-bottom: 1px solid;
			font-size: 1em;
			font-weight: lighter;

			.themed({
				color: @themed-settings-legend-color;
				border-bottom-color: @themed-settings-legend-border-color;
			});
		}

		> :not(legend) {
			margin-bottom: 1em;
		}

		// left column
		> div:nth-of-type(2n+1) {
			width: 33.333%;
			float: left;
			clear: both;
			padding-right: 1.5em;

			> i.fa {
				width: 1em;
				margin-right: .25em;
				text-align: center;

				&.fa-gamepad {
					font-size: 1em;
					line-height: 1;
				}
			}

			> span {
				display: block;
				padding-left: 2em;
				font-size: .75em;

				.themed({
					color: @themed-settings-descr-color;
				});

				.docs {
					display: table;
					margin-top: .25em;
					padding: 0 .25em;
					white-space: nowrap;
					font-style: italic;
					cursor: pointer;

					&:hover {
						.themed({
							color: @themed-settings-descr-docs-color-hover;
							background: @themed-settings-descr-docs-background-hover;
						});
					}

					> i {
						margin-right: .333em;

						.themed({
							color: @themed-settings-descr-docs-icon-color;
						});
					}
				}
			}
		}

		// right column
		> div:nth-of-type(2n+1) + div {
			width: 66.667%;
			float: right;
		}

		// footer
		&.submit {
			margin: 5em 0 3em;

			> div {
				display: flex;
				justify-content: center;
				width: auto;
				float: none;

				> .btn {
					margin: 0 .5em;
				}
			}
		}
	}

	.radio-btns-component.radio-btns-group > label {
		max-width: 10em;
		font-size: .9em;
		line-height: 1.8;
	}

	.selecter.notifications,
	.selecter.chat-method,
	.selecter.stream-click {
		max-width: 14em;
	}

	.btn-subst {
		min-width: 0;
		padding: 0 .2em;
		float: right;
		font-size: .85em;
		line-height: inherit;
	}

	.substitutions {
		.docs {
			cursor: inherit !important;
		}

		dl {
			@width: 6.5em;
			font-size: .9em;

			> dt {
				width: @width;
				font-weight: normal;
				text-align: left;
			}

			> dd {
				margin-left: @width;
			}
		}
	}

	.stream-click-dropdowns {
		> div:not(:last-of-type) {
			margin-bottom: 1em;
		}
	}

	.filter-lang {
		display: flex;
		flex-flow: row wrap;

		> li {
			flex: 15em 0 0;

			.lang-code {
				display: inline-block;
				margin-left: .25em;
				font-size: .8em;
			}
		}
	}

	p.notice {
		margin-top: .75em;
		font-size: .75em;
		font-style: italic;

		.themed({
			color: @themed-text-color-hint;
		});
	}
}
