<div>
	{{#modal-header}}
		You just upgraded to v{{version}}
	{{/modal-header}}
	{{#modal-body}}
		Do you want to see what's new and read the changelog now?
	{{/modal-body}}
	{{#modal-footer}}
		{{#form-button action=(action "close")         class="btn-danger"  icon="fa-times"                 }}Close{{/form-button}}
		{{#form-button action=(action "showChangelog") class="btn-success" icon="fa-list-alt" iconanim=true}}Changelog{{/form-button}}
	{{/modal-footer}}
</div>