<div>
	{{#modal-header}}
		{{t "modal.changelog.header" version=version}}
	{{/modal-header}}
	{{#modal-body}}
		{{t "modal.changelog.body"}}
	{{/modal-body}}
	{{#modal-footer classNames="button-list-horizontal"}}
		{{#form-button
			action=(action "close")
			classNames="btn-danger"
			icon="fa-times"
		}}
			{{t "modal.action.close"}}
		{{/form-button}}
		{{#form-button
			action=(action "showChangelog")
			classNames="btn-success"
			icon="fa-list-alt"
			iconanim=true
		}}
			{{t "modal.changelog.action.show"}}
		{{/form-button}}
	{{/modal-footer}}
</div>