<div>
	{{#modal-header}}
		{{t "modal.newrelease.header" version=outdated}}
	{{/modal-header}}
	{{#modal-body}}
		{{t "modal.newrelease.body" version=latest}}
	{{/modal-body}}
	{{#modal-footer classNames="button-list-horizontal"}}
		{{#form-button
			action=(action "download")
			classNames="btn-success"
			icon="fa-download"
			iconanim=true
		}}
			{{t "modal.newrelease.action.download"}}
		{{/form-button}}
		{{#form-button
			action=(action "ignore")
			classNames="btn-danger"
			icon="fa-times"
		}}
			{{t "modal.newrelease.action.ignore"}}
		{{/form-button}}
	{{/modal-footer}}
</div>