<div>
	{{#modal-header}}
		Authentication required
	{{/modal-header}}
	{{#modal-body}}
		Please sign in to your Twitch.tv account to be able to launch streams.
	{{/modal-body}}
	{{#modal-footer}}
		{{#form-button action="login" class="btn-success" icon="fa-sign-in"}}Sign in{{/form-button}}
		{{#form-button action="close" class="btn-danger"  icon="fa-times"  }}Close{{/form-button}}
	{{/modal-footer}}
</div>