<div>
	{{#modal-header}}
		Are you sure you want to quit?
	{{/modal-header}}
	{{#modal-body}}
		{{#if hasStreams}}
			By choosing shutdown, all streams will be closed, too.
		{{else}}
			All streams have been closed. Do you want to quit now?
		{{/if}}
	{{/modal-body}}
	{{#modal-footer}}
		{{#form-button action=(action "close") classNames="btn-primary" icon="fa-thumbs-down"}}Return{{/form-button}}
		{{#if hasStreams}}
			{{#form-button action=(action "shutdown") classNames="btn-danger" icon="fa-power-off"}}Shutdown{{/form-button}}
		{{/if}}
		{{#form-button action=(action "quit") classNames="btn-success" icon="fa-thumbs-up"}}Quit{{/form-button}}
	{{/modal-footer}}
</div>