<div>
	{{#modal-header}}
		Thanks for using {{config.display-name}}!
	{{/modal-header}}
	{{#modal-body}}
		Do you want to configure the application first before you start?
	{{/modal-body}}
	{{#modal-footer}}
		{{#form-button action="start"    class="btn-primary" icon="fa-arrow-left"}}Start now{{/form-button}}
		{{#form-button action="settings" class="btn-success" icon="fa-cog"       }}Settings{{/form-button}}
	{{/modal-footer}}
</div>